body {
  font-family: "Poppins", sans-serif; /* Added to set a consistent font */
  background-color: #000000; /* Sets the background to black */
}

/* Style the header */
.header {
  padding: 20px;
  text-align: center;
  z-index: 100;
}

header {
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  z-index: 100;
  align-items: center;
  text-align: center;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 100;
}

/* Change color on hover */
.topnav a:hover {
  background-image: linear-gradient(to bottom, #ddd 1%, transparent);
  color: black;
  z-index: 100;
  align-items: center;
  text-align: center;
}

.footer {
  color: #f2f2f2;
  text-align: center;
  width: auto;
}
.footer2 {
  color: #f2f2f2;
  text-align: center;
  width: auto;
}
.footer2 a{
  font-size: 45px;
}

.footer2 img{
  width: 100%;
}


/* making the backround of each colum and theme: temp, humid and light*/
img {
  opacity: 0.5;
  border-radius: 15px;
}

img:hover {
  opacity: 1;
}


.photo-container {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  width: 100%;
  height: auto; /* Ensures proper height for smaller screens */
}

.photo-box {
  flex: 1 1 33.33%; /* Flex-grow, flex-shrink, and flex-basis: 33.33% */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures images don't overflow their containers */
}

.photo-box img {
  width: 100%;
  height: auto; /* Keeps the aspect ratio */
  object-fit: cover; /* Ensures the image fits well in the container */
}


h1 {
  margin: 0;
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  border-bottom: 2px solid #e60000e2;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #f2f2f2;
}

/* Content Items */
.content-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.content-item img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-item p {
  flex: 1;
  color: #ddd;
}

/* Thumbnail Styling (inside the container) */
.content-item img {
  width: 750px;
  height: auto; /* Maintain aspect ratio */
}

.imgbanner img{
  width: 100%;
}

@media (max-width: 480px) {

  .content-item {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: center;   /* Centers items */
    text-align: center;    /* Centers text */
  }

  .content-item img {
    margin-bottom: 1rem; /* Adds space between the image and text */
  }
  
/* Thumbnail Styling (inside the container) */
.content-item img {
  width: 200px;
  height: auto; /* Maintain aspect ratio */
}
}