body {
    background-image: linear-gradient(to top right, #000000, #000000);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

/* Optional: wrap all content in a container for layout control */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
.header {
    padding: 20px;
    text-align: center;
    z-index: 100;
}

header {
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    z-index: 100;
    align-items: center;
    text-align: center;
  }

  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 100;
  }

  /* Change color on hover */
  .topnav a:hover {
    background-image: linear-gradient(to bottom, #ddd 1%, transparent);
    color: black;
    z-index: 100;
    align-items: center;
    text-align: center;
  }

/* Slider styles */
.slider {
    position: relative;
    margin: 100px auto;
    width: 80%;
    height: 500px;
    overflow: hidden;
}

.item {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    transition: 0.5s;
    left: 25%;
    top: 0;
}

/* Navigation buttons */
#next, #prev {
    position: absolute;
    top: 40%;
    background: none;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    color: #ffffff;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 10;
}

#next {
    right: 20px;
}

#prev {
    left: 20px;
}

#prev:hover,
#next:hover {
    opacity: 0.75;
}

/* Footer */
.footer {
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

/* Responsive */
@media (max-width: 480px) {
    .slider {
        width: 90%;
        height: 750px;
    }

    .item {
        width: 60%;
        left: 15%;
    }

    
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    z-index: 100;
    align-items: center;
    text-align: center;
  }

  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 9px;
    text-decoration: none;
    z-index: 100;
  }

  /* Change color on hover */
  .topnav a:hover {
    background-image: linear-gradient(to bottom, #ddd 1%, transparent);
    color: rgb(0, 0, 0);
    z-index: 100;
    align-items: center;
    text-align: center;
  }

}
