/* Combined CSS */
body {
    font-family: "Poppins", sans-serif;
    background-color: #000000; /* Sets the background to black */
    color: #ffffff; /* Added to keep default text color*/
  }
  
  /* Style the header */
  .header {
    padding: 20px;
    text-align: center;
    z-index: 100;
  }

  header {
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
  }

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    z-index: 100;
    align-items: center;
    text-align: center;
  }

  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 100;
  }

  /* Change color on hover */
  .topnav a:hover {
    background-image: linear-gradient(to bottom, #ddd 1%, transparent);
    color: black;
    z-index: 100;
    align-items: center;
    text-align: center;
  }

  
.update-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center the boxes horizontally */
}

.update-box {
  width: 100%; /* Take up most of the screen width */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
}

.update-box h3 {
  margin-top: 0;
  color: white;
}

.update-box p {
  margin-bottom: 15px;
  color: white;
}

.tab-button {
  background-color: #00000095;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.tab-button:hover {
  background-color: #3e8e41;
}

/* Different background colors for each box */
.update-box:nth-child(1) {
  background-color: #4285F4; /* Blue */
}

.update-box:nth-child(2) {
  background-color: #34A853; /* Green */
}

.update-box:nth-child(3) {
  background-color: #FBBC05; /* Yellow */
}

.update-box:nth-child(4) {
  background-color: #EA4335; /* Red */
}

.update-box:nth-child(5) {
  background-color: #9C27B0; /* Purple */
}

@media (max-width: 768px) {
  .update-box {
    width: 95%; /* Take up almost full width on smaller screens */
  }
}

  .footer {
    color: #f2f2f2;
    text-align: center;
    width: auto;
  }