/* General Styles */
body {
    font-family: sans-serif;
    background-color: #000000;
    color: #333;
}

header1 {
    background-color: #9C27B0;
    color: white;
    text-align: center;
    padding: 2em 0;
    margin-bottom: 2em;
}


  header {
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
  }

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    z-index: 100;
    align-items: center;
    text-align: center;
  }

  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 100;
  }

  /* Change color on hover */
  .topnav a:hover {
    background-image: linear-gradient(to bottom, #ddd 1%, transparent);
    color: black;
    z-index: 100;
    align-items: center;
    text-align: center;
  }
  
header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1.2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

/* Search Styles */
.search-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 20px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

/* Announcement Styles */
.announcement-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.announcement-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
}

.announcement-item:hover {
    transform: scale(1.03);
}

.announcement-item a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: inherit;
}

.announcement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.announcement-header h2 {
    font-size: 1.5em;
    color: #9C27B0;
    margin: 0;
}

.announcement-date {
    color: #777;
    font-size: 0.9em;
}

.announcement-item p {
    margin-bottom: 1em;
}

.read-more {
    color: #e74c3c;
    font-weight: bold;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .announcement-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .announcement-header h2 {
        margin-bottom: 0.5em;
    }
}

.footer {
    color: #f2f2f2;
    text-align: center;
    width: auto;
  }